<% content_for :head do %>
  <%= stylesheet_link_tag 'userstyle', media: 'all' %>
<% end %>

<h1>Here is a list of users:</h1>
<ul>
  <% @users.each do |user| %>
  <li class ="userphotoName"  id="user-<%= user.id %>-<%= user.name&.parameterize %>">
    <div class="photo"> 
      <% if user.photo.present? %>
        <%= image_tag user.photo, class: "user-photo" %>
      <% else %>
        <%= image_tag "default_avatar.png", alt: "Default Avatar", class: "user-photo" %>
      <% end %>
    </div>
    <div class="user-list">
      <span class="user-name"> <%= link_to user.name, user_path(user), class: "user-link" %></span>
      <p class="Number_of_posts"> 
      <% if user.post_counter == 1 %>
        (1 post)
      <% else %>
        Number of posts: <%= user.posts.count %>
      <% end %>
      </p>
    </div>
  </li>
  <% end %>
</ul>
