<% content_for :head do %>
  <%= stylesheet_link_tag 'poststyle', media: 'all' %>
<% end %>
<div class ="postframe">

 <div class ="userphotoName">

    <div class="photo"> 
      <% if @user.photo.present? %>
        <%= image_tag @user.photo, class: "user-photo" %>
      <% else %>
        <%= image_tag "default_avatar.png", alt: "Default Avatar", class: "user-photo" %>
      <% end %>
    </div>

    <div class="user-list">
      <span class="user-name"><%= @user.name %></span>
     <p class="Number_of_posts">
      <% if @user.post_counter == 1 %>
        (1 post)
      <% else %>
        <strong >Number of posts: <%= @user.posts.count %></strong>
      <% end %>
      </p>
    </div>
  </div>

<ul>
  <% @user.posts.each do |post| %>
    <li class="frame_postcomment">
      <div class="frame_post">
        <h2><%= link_to post.title, post_path(user_id: @user, id: post.id) %></h2>
        <p><%= post.text %></p>
      </div>

      <div class="frame_comment">
        <h3><%= "Recent Comments: #{post.recent_comments.count}" %></h3>
        <% if post.recent_comments.any? %>
          <ul>
            <% post.recent_comments.each do |comment| %>
              <li><%= comment.text %></li>
            <% end %>
          </ul>
        <% else %>
          <p>No comments for this post.</p>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
<%= will_paginate @posts, renderer: WillPaginate::ActionView::LinkRenderer, next_label: 'Next Page' %>

</div>
